@import "../.././assets/styles/variables";

.pageNotFound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        font-size: 2.1vw;
        font-weight: 500;
        color: $greyColor;
        font-family: $FuturaPT;
        text-align: center;
        margin-top: 2vw;
    }

    img {
        width: 30vw;
    }
}