html {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// custom scrollbar

::-webkit-scrollbar {
    width: 0.7vw;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #555
}

::-webkit-scrollbar-thumb:hover {
    background: #222
}

// custom scrollbar