@font-face {
    font-family: 'FuturaPT-Medium';
    font-style: normal;
    src: url('../fonts/FuturaPT-Medium.eot'),
        url('../fonts/FuturaPT-Medium.ttf'),
        url('../fonts/FuturaPT-Medium.woff');
}

@font-face {
    font-family: 'CoreSansG';
    font-style: normal;
    src: url('../fonts/CoreSansG-Regular.ttf');
}