$FuturaPT: 'FuturaPT-Medium',
Arial,
Helvetica,
sans-serif;

$CoreSansG: 'CoreSansG',
Arial,
Helvetica,
sans-serif;

$greyColor: #232323;
$greyLight: #9b9b9b;
$smoke: #f2f2f2;
$smokeLight: #f9f9f9;
$black: #000000;
$red: #ff0034;