@import "../../assets/styles/variables";

.somePage {
    display: flex;
    justify-content: center;
    height: calc(100vh - 160px);
    align-items: center;
    font-family: $FuturaPT;
    color: $greyColor;
    font-size: 40px;
}